{{define "index"}}
<html>
<head>
    <title>
        HTTP Cookie
    </title>
</head>
<body>
    <table>
        <tr>
            <td>Cookie 1</td>
            <td><a href="/add-cookie"><button>Add Cookie 1</button></a></td>
            <td><a href="/delete-cookie"><button>Delete Cookie 1</button></a></td>
        </tr>
        <tr>
            <td>Cookie 2</td>
            <td><a href="/add-cookie-food"><button>Add Cookie 2</button></a></td>
            <td><a href="/delete-cookie-food"><button>Delete Cookie 2</button></a></td>
        </tr>
        <tr>
            <td>Cookie 3</td>
            <td><a href="/add-cookie-cofee"><button>Add Cookie 3</button></a></td>
            <td><a href="/delete-cookie-cofee"><button>Delete Cookie 3</button></a></td>
        </tr>
    </table>
</body>
</html>
{{end}}